*{
    margin: 0;
    padding: 0;
 
}

#site-header {
    background-color: white;
    margin: 15px 0px;
}
.text-decoration-none {
    color: #07f63e;
}
#home {
    color: #07f63e;
}
#nav {
    color: #000;
    
}
.container li {
    margin-inline: 4vh;
}
#nav {
    transform: translateX(-110%);
    transition: transform 1s;
}
#nav:hover{
    color: #07f63e;
    transform: translateX(110%);
}

    
/*  */
.about {
    width: auto;
    height: auto;
   
}
.about_item {
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 15vh;
}
.read {
    padding-top: 10vh;
}
#read {
    text-decoration: none;
    border-bottom: 2px solid #28a745!important;
    font-weight: 600;
    color: #000;
    transition: 0.3s;
    
}
#read:hover {
    color: green;
    
}

/* Showcase */
.showcase {
    background:rgba(147, 107, 232, 0.05);
    height: 160vh;
    margin: 30px 0px;

}
.showcase_item {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    padding-top: 5%;
    padding-left: 7%;
}
.showcase_content {
    background: white;
    height: 49vh;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    transition: 0.8s;

}
.showcase_content i {
    color: green;
    font-size: 30px;
    margin-bottom: 20px;
}
#content {
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
    
}
.showcase_content:hover{
    background-color: #f3effd;
    
}
#content:hover{
    color: green;
    
}

/* whatwe */
.whatweitem {
    width: 48%;
}
.whatweitem img {
    height: 80%;
    border-radius: 20px 20px 20px 20px;
}
.whatweitem ul {
    list-style-type: none;
    font-weight: bold;
} 
.flex-row {
    flex-direction: none;
}  
@media  only screen and (min-width:740px) {
    .showcase_item{
        grid-template-rows: auto;
        width: 100%;
        height: 49vh;
    }
}
